
{% enxtends 'base.html' %}
{% block title %} Лента записей {% endblock %}
{% block content %}
        <h1>Лента записей</h1>
        {% for post in post_detail %}
        <hr>
        <article>
          <ul>
            <li>
              Место: {{ post_detail.location }}
            </li>
            <li>
              Дата: {{ post_detail.date }}
            </li>
            <li>
              Категория: <a href="{% url 'blog:category_posts' post_detail.category %}">post_detail.category</a>
            </li>
          </ul>
          <!-- Первые 10 слов -->
          <p>
            Всю ночь и весь день шел дождь и дул сильный ...
          </p>
          <a href="detail.html">Читать полный текст</a>
        </article>
        <hr>
        <article>
          <ul>
            <li>
              Место: Остров отчаянья
            </li>
            <li>
              Дата: 1 октября 1659 года
            </li>
            <li>
              Категория: <a href="not-my-day">not-my-day</a>
            </li>
          </ul>
          <!-- Первые 10 слов -->
          <p>
            Проснувшись поутру, я увидел, что наш корабль сняло с мели ...
          </p>
          <a href="detail.html">Читать полный текст</a>
        </article>
        <hr>
        <article>
          <ul>
            <li>
              Место: Остров отчаянья
            </li>
            <li>
              Дата: 30 сентября 1659 года.
            </li>
            <li>
              Категория: <a href="travel">travel</a>
            </li>
          </ul>
          <!-- Первые 10 слов -->
          <p>
            Наш корабль, застигнутый в открытом море страшным штормом, потерпел крушение. ...
          </p>
          <a href="detail.html">Читать полный текст</a>
        </article>
{% endblock %}

